body {
    background-color: #071416;
}

.App__images {
    background: url("./images/HeaderImage.jpg");
    background-size:contain, 100% 97%;
    height: 120px;
    background-repeat: no-repeat;
}

@media (min-width: 768px) { 
    .App__images {
        background: url("./images/HeaderImage.jpg");
        background-size:contain;
        height: 570px;
        background-repeat: no-repeat;
    }
}